:root {
  --VeryDarkBlue: hsl(243, 87%, 12%);
  --DesaturatedBlue: hsl(238, 22%, 44%);
  --BrightBlue: hsl(224, 93%, 58%);
  --ModerateCyan: hsl(170, 45%, 43%);
  --LightGrayishBlue: hsl(240, 75%, 98%);
  --LightGray: hsl(0, 0%, 75%);
}

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header img {
  height: 35px;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  margin-left: 22px;
}

.menu ul li a {
  text-decoration: none;
  color: var(--DesaturatedBlue);
}
/*SECCION 1*/
.seccion1 {
  display: flex;
  flex-direction: column-reverse;
  padding: 30px;
}

.seccion1 img {
  height: 100%;
  width: 100%;
}

.contenido1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido1 h1 {
  text-align: center;
}
.contenido1 p {
  text-align: center;
  color: var(--DesaturatedBlue);
}

.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.form1 input {
  padding: 16px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
}

.form1 button {
  padding: 16px;
  background: var(--BrightBlue);
  border: 0px;
  color: white;
  margin-top: 16px;
  box-shadow: 3px 3px 15px grey;
  border-radius: 5px;
  width: 100%;
}

/*SECCION 2*/
.seccion2 {
  border: 1px solid red;
  display: flex;
  flex-direction: column-reverse;
  padding: 100px 30px 30px 30px;
  background: url("../img/bg-curve-mobile.svg") no-repeat;
  background-size: 1500px 100%; /*ancho alto*/
  background-position: center;
}

.seccion2 img {
  height: 100%;
  width: 100%;
}

.contenido2 h3 {
  text-align: center;
  color: var(--DesaturatedBlue);
}

.contenido2 a {
  color: var(--ModerateCyan);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-bottom: 1.8px solid var(--ModerateCyan);
  margin: 0 auto; /*center*/
  width: 45%;
  margin-bottom: 100px;
}

.contenido2 a img {
  height: 30px;
  width: 30px;
}

.card2 {
  box-shadow: 3px 3px 10px grey;
  padding: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
.card2 img {
  height: 20px;
  width: 20px;
}
.contacto2 {
  display: flex;
  align-items: center;
}

.contacto2 img {
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
  margin-right: 10px;
}

.contacto2 p {
  font-weight: bold; /*Negrita*/
}
.contacto2 p span {
  font-weight: normal;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .seccion1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .form1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
  }
}
