:root {
  --VeryDarkBlue: hsl(243, 87%, 12%);
  --DesaturatedBlue: hsl(238, 22%, 44%);
  --BrightBlue: hsl(224, 93%, 58%);
  --ModerateCyan: hsl(170, 45%, 43%);
  --LightGrayishBlue: hsl(240, 75%, 98%);
  --LightGray: hsl(0, 0%, 75%);
}

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header img {
  height: 35px;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  margin-left: 22px;
}

.menu ul li a {
  text-decoration: none;
  color: var(--DesaturatedBlue);
}
/*SECCION 1*/
.seccion1 {
  border: 1px solid red;
  display: flex;
  flex-direction: column-reverse;
  padding: 30px;
}

.seccion1 img {
  height: 100%;
  width: 100%;
}

.contenido1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido1 h1 {
  text-align: center;
}
.contenido1 p {
  text-align: center;
  color: var(--DesaturatedBlue);
}

.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.form1 input {
  padding: 16px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
}

.form1 button {
  padding: 16px;
  background: var(--BrightBlue);
  border: 0px;
  color: white;
  margin-top: 16px;
  box-shadow: 3px 3px 15px grey;
  border-radius: 5px;
  width: 100%;
}
